main {
  section {
    margin: auto;

    h2 {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: $sm) {
  main {
   section {
      h2 {
        font-size: 1.25rem;
      }
    }
  }
}

@media (max-width: $xs) {
  main {
   section {
      h2 {
        font-size: 1rem;
      }
    }
  }
}
