main {
  div.form-container {
    max-width: 480px;
    border: 1px solid $muted;
    border-radius: 12px;
    background-color: #fefefe;
  }
}

label {
  font-size: 0.75rem;
  font-family: 'Rock Salt', cursive;
  color: $dark;
}

input {
  font-family: 'Shadows Into Light', cursive;
  color: $dark;
}

button {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.25rem;
}