$flex-type-map: ("row": row, "column": column);
$flex-x-position-map: (
  "start": flex-start,
  "center": center,
  "end": flex-end
);
$flex-y-position-map: (
  "start": flex-start,
  "center": center,
  "end": flex-end,
  "around": space-around,
  "between": space-between,
  "evenly": space-evenly
);

@each $type-key, $type-value in $flex-type-map {
  .flex-#{$type-key} {
    display: flex;
    flex-direction: $type-value;
  }
}

@each $position-x-key, $position-x-value in $flex-x-position-map {
  .flex-x-#{$position-x-key} {
    align-items: $position-x-value;
  }
}

@each $position-y-key, $position-y-value in $flex-y-position-map {
  .flex-y-#{$position-y-key} {
    justify-content: $position-y-value;
  }
}
