* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root, body {
  height: 100vh;
}

header, nav {
  max-width: 100vw;
}

ul, ol {
  list-style-type: none;
}

a, a:hover, a:focus, a:active, a:visited, a:link {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}