$pad-list: $xs-padding, $sm-padding, $base-padding, $lg-padding, $xl-padding, $xxl-padding;
$mar-list: $xs-margin, $sm-margin, $base-margin, $lg-margin, $xl-margin, $xxl-margin;

$mar-max-directions-map: (
  "t": top,
  "l": left,
  "r": right,
  "b": bottom
);

// height
@for $a from 1 through 100 {
  .vh-#{$a} {
    height: #{$a}vh;
  }
}

.v-auto {
  height: 100%;
}

// width
@for $b from 1 through 100 {
  .vw-#{$b} {
    width: #{$b}vw;
  }
}

.w-auto {
  width: 100%;
}


// padding
@for $i from 1 through length($pad-list) {
  .p-#{$i} {
    padding: nth($pad-list, $i);
  }

  .ph-#{$i} {
    padding-left: nth($pad-list, $i);
    padding-right: nth($pad-list, $i);
  }

  .pv-#{$i} {
    padding-top: nth($pad-list, $i);
    padding-bottom: nth($pad-list, $i);
  }

  .pt-#{$i} {
    padding-top: nth($pad-list, $i);
  }

  .pb-#{$i} {
    padding-bottom: nth($pad-list, $i);
  }

  .pl-#{$i} {
    padding-left: nth($pad-list, $i);
  }

  .pr-#{$i} {
    padding-right: nth($pad-list, $i);
  }
}

// margin
@for $j from 1 through length($mar-list) {
  .m-#{$j} {
    margin: nth($mar-list, $j);
  }

  .mh-#{$j} {
    margin-left: nth($mar-list, $j);
    margin-right: nth($mar-list, $j);
  }

  .mv-#{$j} {
    margin-top: nth($mar-list, $j);
    margin-bottom: nth($mar-list, $j);
  }

  .mt-#{$j} {
    margin-top: nth($mar-list, $j);
  }

  .mb-#{$j} {
    margin-bottom: nth($mar-list, $j);
  }

  .ml-#{$j} {
    margin-left: nth($mar-list, $j);
  }

  .mr-#{$j} {
    margin-right: nth($mar-list, $j);
  }
}

@each $key, $value in $mar-max-directions-map {
  .m#{$key}-max {
    margin-#{$value}: auto;
  }
}